// .bg-error {
//     background-color: #D92D20;
// }

// .bg-warn {
//     background-color: #F3A218;
// }

// .bg-success {
//     background-color: #04802E;
// }

// .bg-info {
//     background-color: #0D5EBA;
// }

// .pi-error {
//     color: #D92D20;
// }

// .pi-warn {
//     color: #F3A218;
// }

// .pi-success {
//     color: #04802E;
// }

// .pi-info {
//     color: #0D5EBA;
// }