:host ::ng-deep .custom-tabview .p-tabview-nav {
  background: transparent;
  border-bottom: 1px solid #374151;
}

:host ::ng-deep .custom-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: transparent;
  color: #9ca3af;
  border-color: transparent;
}

:host
  ::ng-deep
  .custom-tabview
  .p-tabview-nav
  li.p-highlight
  .p-tabview-nav-link {
  color: #60a5fa;
  border-color: #60a5fa;
  border-bottom-width: 2px;
}

:host ::ng-deep .custom-tabview .p-tabview-panels {
  background: transparent;
  padding: 1rem 0;
}
