<p-card
  styleClass="h-full shadow-md border rounded-xl p-4 border-secondary-200"
>
  <ng-template #header>
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-xl font-semibold text-foreground">Recent Transactions</h2>
      <p-datePicker
        [(ngModel)]="selectedMonths"
        view="month"
        dateFormat="mm/yy"
        selectionMode="range"
        placeholder="Select Month Range"
        size="small"
        [showIcon]="true"
        (ngModelChange)="onMonthChange()"
      ></p-datePicker>
    </div>
  </ng-template>
  <app-table
    [columns]="columns"
    [getDataFunc]="getRecentTransactions"
    [paginationPageSize]="paging.size ?? 10"
    [componentInstance]="this"
  >
  </app-table>
</p-card>
