<div class="bg-card rounded-lg border border-secondary p-6 shadow-lg h-full">
  <div class="flex items-center mb-4">
    <i [class]="'pi ' + icon + ' text-secondary-400 mr-3 text-xl'"></i>
    <div>
      <h3 class="text-lg font-semibold text-foreground">{{ title }}</h3>
      <p class="text-sm text-secondary-400">{{ subtitle }}</p>
    </div>
  </div>
  <ul class="space-y-4">
    <li
      *ngFor="let item of items"
      class="flex justify-between items-center border-b border-gray-700 pb-2 last:border-b-0"
    >
      <span class="text-secondary-400 text-sm">{{ item.label }}</span>
      <ng-container [ngSwitch]="item.type">
        <p-tag
          *ngSwitchCase="'tag'"
          [value]="item.value"
          [severity]="item.value === 'active' ? 'success' : 'warning'"
          styleClass="capitalize"
        ></p-tag>
        <span
          *ngSwitchDefault
          class="text-foreground font-medium text-sm text-right"
          >{{ item.value }}</span
        >
      </ng-container>
    </li>
  </ul>
</div>
